@import url('https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@300;700&display=swap');

// 各セクション領域の大きさ
.profile-section {
  padding: 10rem 1.5rem;

  &.is-fullheight{
    min-height: 100vh;
  }
}

// 各セクションのタイトル
h2.section-title {
  font-family: 'Abel', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1vw; 
  text-transform: uppercase;

  margin-bottom: 3rem;
}

// 各セクションのメインメッセージ
h3 {
  &.main-message {
    font-weight: bold;
    font-size: 300%;
  }
}

// 長い文章でpタグが複数使われたときに間隔をあける
p:not(:last-child) {
  margin-bottom: 1rem;  
}

// セクションを分割する
hr.inner-divider {
  background-color: transparent;
  border-top: 3px dashed white;
}

// セクションの最後に補足する
.section-note {
  text-align: right;
}

// Projects
.project-card {
  background: white;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  text-align: left;

  position: relative;
  top: 0rem;
  transition: all 500ms ease;

  margin: 0 0.375rem 0.75rem 0.375rem;

  // Projectsをホバーしたとき
  &:hover {
    top: -0.5rem;
  }

  h3.project-title {
    font-weight: 900;
    font-size: 1.25rem;
  }

  .project-date {
    font-family: 'Comfortaa', cursive;
    color: gray;
  }

  a.project-link {
    color: #4a4a4a;
  
    &:hover {
      color: rgba(74, 74, 74, 0.5);
    }
  }
}
